# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/

# Node / React
node_modules/
dist/
build/

# Environment files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / editor clutter
.DS_Store
Thumbs.db